{% extends 'base.html' %}

{% block title %}{{ title }} - Mtronix{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ inventory.product.name }} currently has {{ inventory.quantity }} units in stock.{% endblock %}

{% block content %}
<section class="panel form-panel">
    <form method="post" novalidate>
        {% include 'includes/form.html' %}
        <div class="form-actions">
            <a class="button" href="{% url 'inventory:list' %}">Cancel</a>
            <button class="button primary" type="submit">{{ action_label }}</button>
        </div>
    </form>
</section>
{% endblock %}
