{% extends 'base.html' %}

{% block title %}{{ title }} - Mtronix{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}Define product group name and description to categorize catalog items.{% endblock %}

{% block content %}
<section class="panel form-panel">
    <form method="post" novalidate>
        {% include 'includes/form.html' %}
        <div class="form-actions">
            <a class="button" href="{% url 'products:group_list' %}">Cancel</a>
            <button class="button primary" type="submit">Save Group</button>
        </div>
    </form>
</section>
{% endblock %}
